.vscode
.prettierrc
logs/
docs/
licenses/
node_modules/
attachments/
test/
db.sqlite
npm-debug.log
dist-client/
uploads/
nodemon.json
tsconfig.json
.editorconfig
.gitignore
.git
.stylelintrc
.travis.yml
.yarnclean
.DS_Store
*.log
