body {
  /* common style */
  --primary-color: #22a6a7;
  --secondary-color: #394e64;
  --focus-color: #fff;
  --primary-background-color: var(--secondary-color);
  --secondary-background-color: #283644;
  --main-section-background-color: #f4f7fb;
  --focus-background-color: var(--primary-color);
  --primary-text-color: #111;
  --secondary-text-color: #017e7f;

  --border-radius: 4px;
  --border-dark-color: 1px solid rgba(0, 0, 0, 0.15);
  --border-light-color: 1px solid rgba(255, 255, 255, 0.3);

  --box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);

  --theme-font: 'Noto', Helvetica;

  --opacity-dark-color: rgba(0, 0, 0, 0.4);
  --opacity-light-color: rgba(255, 255, 255, 0.8);

  --margin-default: 9px;
  --margin-narrow: 4px;
  --margin-wide: 15px;

  --status-success-color: #35a24a;
  --status-warning-color: #ee8d03;
  --status-danger-color: #d14946;
  --stauts-info-color: #398ace;

  --scrollbar-thumb-color: rgba(57, 78, 100, 0.5);
  --scrollbar-thumb-hover-color: var(--primary-color);

  /* layout style */
  --header-bar-background-color: var(--secondary-color);
  --header-bar-icon-size: var(--icon-default-size);
  --header-bar-title: bold 16px var(--theme-font);
  --header-bar-color: #fff;
  --header-bar-height: 45px;
  --nav-bar-background-color: var(--primary-color);

  --group-bar-background-color: var(--primary-color);
  --group-bar-textbutton: 16px/32px var(--theme-font);
  --group-bar-textbutton-active: bold var(--group-bar-textbutton);
  --group-bar-active-line-color: var(--focus-color);
  --group-bar-line: solid 3px rgba(0, 0, 0, 0.2);

  --menu-bar-background-color: var(--primary-color);
  --menu-bar-textbutton: 16px/32px var(--theme-font);
  --menu-bar-textbutton-active: bold var(--menu-bar-textbutton);
  --menu-bar-active-line-color: var(--focus-color);
  --menu-bar-line: solid 3px rgba(0, 0, 0, 0.2);
  --menu-tools-background-color: var(--secondary-color);
  --menu-tools-iconbutton-size: var(--icon-tiny-size);
  --menu-tools-color: #87cfd0;
  --menu-tools-active-color: #fff;
  --menu-tree-toplevel-color: #d0fdee;
  --menu-tree-toplevel-font: normal 15px var(--theme-font);
  --menu-tree-toplevel-icon-size: 5px;
  --menu-tree-toplevel-icon-border: 2px solid var(--menu-tree-toplevel-color);
  --menu-tree-toplevel-border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  --menu-tree-grouplevel-font: normal 13px var(--theme-font);
  --menu-tree-grouplevel-color: #d0d0d0;
  --menu-tree-grouplevel-background-color: rgba(0, 0, 0, 0.3);
  --menu-tree-grouplevel-border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  --menu-tree-grouplevel-active-border-left: 3px solid var(--primary-color);
  --menu-tree-focus-color: #fff;
  --menu-tree-favorite-color: var(--menu-tree-toplevel-color);

  --context-toolbar-background-color: var(--main-section-background-color);
  --context-toolbar-button-background-color: #fff;
  --context-toolbar-border: 1px solid rgba(57, 78, 100, 0.5);
  --context-toolbar-border-hover: 1px solid var(--primary-color);
  --context-toolbar-button-height: 36px;
  --context-toolbar-button-margin: 5px 0;
  --context-toolbar-button-padding: 0 9px;
  --context-toolbar-button: normal 13px var(--theme-font);
  --context-toolbar-button-color: var(--secondary-color);
  --context-toolbar-iconbutton-color: var(--primary-text-color);
  --context-toolbar-iconbutton-size: 16px;
  --context-toolbar-function-button-height: 34px;
  --context-toolbar-function-button-radius: 5px;
  --context-toolbar-function-button-background-color: #446281;
  --context-toolbar-function-button-hover-background-color: var(--primary-color);
  --context-toolbar-function-iconbutton-size: 28px;
  --context-toolbar-function-iconbutton-color: var(--primary-background-color);
  --context-toolbar-function-button-lineheight: 36px;
  --context-toolbar-function-button-color: #fff;
  --context-toolbar-function-button-padding: 0 10px;
  --context-toolbar-function-button-border: 1px solid rgba(0, 0, 0, 0.1);
  --context-toolbar-list-background-color: var(--primary-background-color);
  --context-toolbar-list-text: bold 18px var(--theme-font);
  --context-toolbar-list-icon-size: var(--icon-default-size);
  --context-toolbar-side-padding: 15px;
  --context-toolbar-shadow-line: none;

  --context-ui-background-color: rgba(40, 54, 68, 0.9);
  --context-ui-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
  --context-ui-border-radius: 10px;
  --context-ui-padding: 10px;
  --context-ui-list-color: #d0fdee;
  --context-ui-list-border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  --context-ui-list-border-hover-bottom: 1px solid var(--primary-color);
  --context-ui-list-padding: 5px;
  --context-ui-button-color: var(--secondary-text-color);
  --context-ui-button-hover-color: #fff;
  --context-ui-button-background-color: #fff;
  --context-ui-button-background-hover-color: var(--primary-color);

  --aside-background-color: var(--secondary-background-color);
  --aside-list-textbtton: 18px var(--theme-font);
  --aside-list-icon: var(--icon-default-size);
  --aside-list-bottom-line: var(--border-dark-color);
  --aside-list-detail-background-color: #fff;
  --aside-list-detail-text: 14px var(--primary-background-color);

  --overlay-center-small-width: 30%;
  --overlay-center-small-height: 30%;
  --overlay-center-normal-width: 50%;
  --overlay-center-normal-height: 50%;
  --overlay-center-large-width: 75%;
  --overlay-center-large-height: 75%;

  --more-panel-background-color: rgba(57, 78, 100, 0.9);
  --more-panel-min-width: 200px;
  --morelet-min-width: 200px;
  --morelet-title-color: #fff;
  --morelet-title-font: normal 1em/1em var(--theme-font);
  --morelet-border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  --morelet-focus-border-top: 3px solid var(--primary-color);
  --morelet-background-color: #fff;
  --morelet-color: var(--secondary-color);
  --morelet-font: normal 0.9em/1.4em var(--theme-font);

  --footer-bar-border-top: 1px solid rgba(0, 0, 0, 0.2);

  --overlay-header-height: var(--header-bar-height);
  --overlay-header-background-color: var(--header-bar-background-color);
  --overlay-header-color: #fff;
  --overlay-header-font: var(--header-bar-title);
  --overlay-background-color: rgba(0, 0, 0, 0.5);
  --overlay-margin-bottom: 0px;

  --subtitle-padding: 12px 5px 3px 5px;
  --subtitle-font: bold 14px/18px var(--theme-font);
  --subtitle-text-color: var(--primary-color);
  --subtitle-border-bottom: 1px solid var(--primary-color);

  --app-grid-template-area: 'header header header' 'nav main aside' 'nav footer aside';

  /* form style */
  --form-border: none;
  --form-margin: 15px auto;
  --form-max-width: 700px;
  --form-multi-column-max-width: 100%;
  --form-sublabel-font: normal 13px var(--theme-font);
  --form-sublabel-color: var(--secondary-color);
  --legend-padding: var(--subtitle-padding);
  --legend-font: var(--subtitle-font);
  --legend-text-color: var(--subtitle-text-color);
  --legend-border-bottom: var(--subtitle-border-bottom);
  --label-padding: 3px 0;
  --label-font: normal 14px var(--theme-font);
  --label-color: var(--secondary-color);
  --input-field-border: 1px solid rgba(0, 0, 0, 0.2);
  --input-field-border-radius: var(--border-radius);
  --input-field-padding: 2px 9px;
  --input-field-font: normal 14px var(--theme-font);
  --form-grid-gap: 12px 5px;

  --custom-input-barcode-field-font: normal 18px var(--theme-font);
  --custom-input-barcode-field-padding: 2px 2px 2px 9px;

  --search-panel-background-color: rgba(0, 0, 0, 0.1);
  --search-panel-search-iconbutton-size: var(--icon-default-size);
  --search-form-icon-color: var(--primary-color);
  --search-form-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
  --search-form-box-padding: 15px 30px 15px 10px;
  --search-form-background-color: #fff;
  --search-form-narrow-background-color: rgba(34, 166, 167, 0.9);
  --search-form-narrow-text-color: #fff;

  /* datagrid style */
  --grist-background-color: var(--main-section-background-color);
  --grist-padding: 15px;
  --grist-title-margin: 0;
  --grist-title-border: none;
  --grist-title-color: var(--secondary-color);
  --grist-title-icon-color: var(--primary-color);
  --grist-title-icon-margin: 0 3px 2px 0;
  --grist-title-icon-size: 14px;
  --grist-title-with-grid-padding: 0;
  --grid-header-background-color: rgba(18, 105, 105, 0.05);
  --grid-header-border-color: rgba(18, 105, 105, 0.3);
  --grid-record-background-color: #fff;
  --grid-record-odd-background-color: #f6f6f6;
  --grid-footer-background-color: rgba(34, 166, 167, 0.7);
  --grid-header-color: var(--secondary-text-color);
  --grid-header-font: normal 1em/1.5 var(--theme-font);
  --grid-header-fontsize: 13px;
  --grid-record-wide-fontsize: 13px;
  --grid-record-selected-background-color: rgba(115, 188, 28, 0.2);
  --grid-record-focused-background-color: var(--primary-color);
  --grid-record-focused-color: #fff;
  --grid-record-focused-border: 1px dashed rgba(0, 0, 0, 0.5);
  --grid-record-dirty-border-top: 24px solid #95d40f;
  --grid-record-dirty-border-left: 24px solid transparent;
  --grid-record-dirty-icon-font: bold 10px/12px var(--mdc-icon-font, 'Material Icons');
  --grid-footer-font-size: 0.9em;
  --grid-footer-color: #fff;
  --grid-footer-limit-color: rgba(255, 255, 255, 0.6);
  --grid-footer-inactive-color: rgba(255, 255, 255, 0.3);
  --grid-footer-padding: 3px 5px 2px 5px;
  --grist-object-editor-font: normal 1em var(--theme-font);
  --grist-object-editor-color: var(--secondary-color);

  --data-list-background-color: var(--main-section-background-color);
  --data-list-item-margin: 5px 0 5px 10px;
  --data-list-item-padding: 5px 15px;
  --data-list-item-border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  --data-list-item-name-font: bold 1em/1em var(--theme-font);
  --data-list-item-name-color: var(--secondary-color);
  --data-list-item-disc-font: normal 0.8em/0.8em var(--theme-font);
  --data-list-item-disc-color: var(--secondary-text-color);
  --data-list-item-etc-font: normal 0.7em/0.7em var(--theme-font);
  --data-list-item-etc-color: #585858;
  --data-list-item-icon-font: normal 1em/1em;
  --data-list-item-icon-color: var(--secondary-text-color);
  --data-list-selected-background-color: var(--grid-record-selected-background-color);
  --data-list-fab-position-horizontal: 15px;
  --data-list-fab-position-vertical: 15px;
  --data-list-fab-color: var(--primary-color);
  --data-list-fab-shadow: var(--box-shadow);

  --grist-input-zoom: 1;
  --grist-input-progress-border: 1px solid rgba(255, 255, 255, 0.5);
  --grist-input-progress-background: rgba(0, 0, 0, 0.1);
  --grist-input-progress-bar-background: #4ac5fd;
  --grist-input-progress-bar-color: #fff;

  --record-view-footer-height: 36px;
  --record-view-footer-background: #586272;
  --record-view-footer-button-height: 36px;
  --record-view-footer-button-color: #fff;
  --record-view-footer-iconbutton-size: 16px;
  --record-view-footer-focus-background: var(--primary-color);

  --record-view-background-color: var(--main-section-background-color);
  --record-view-label-font: bold 15px var(--theme-font);
  --record-view-label-color: var(--secondary-color);
  --record-view-font: normal 15px var(--theme-font);
  --record-view-color: var(--secondary-color);
  --record-view-focus-color: var(--primary-color);
  --record-view-border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  --record-view-edit-border-bottom: 2px solid var(--primary-color);
  --record-view-item-padding: 5px;

  --board-renderer-border: 1px solid rgba(0, 0, 0, 0.1);
  --board-renderer-max-width: 120px;
  --board-renderer-name-background-color: rgba(1, 126, 127, 0.8);
  --board-renderer-name-font: normal 13px var(--theme-font);
  --board-renderer-icon-size: 24px;
  --board-renderer-icon-border-radius: 10px;
  --board-renderer-font: bold 16px/25px var(--mdc-icon-font, 'Material Icons');
  --board-renderer-icon-edit-background-color: #95d40f;
  --board-renderer-icon-view-background-color: #27a1de;

  /* button style */
  --button-background-color: var(--secondary-color);
  --button-active-background-color: var(--primary-color);
  --button-margin: 10px 2px;
  --button-height: 28px;
  --button-color: #fff;
  --button-font: normal 13px var(--theme-font);
  --button-radius: 5px;
  --button-border: 1px solid transparent;
  --button-active-border: 1px solid rgba(0, 0, 0, 0.2);

  /* chart style */

  /* icon style */
  --icon-tiny-size: 24px;
  --icon-default-size: 36px;
  --icon-big-size: 48px;
  --icon-default-color: #fff;

  /* material design component themes */
  --mdc-theme-on-primary: white;
  --mdc-theme-primary: var(--primary-color);
  --mdc-theme-on-secondary: white;
  --mdc-theme-secondary: var(--primary-color);

  /* list page style*/
  --board-list-background-color: var(--main-section-background-color);
  --board-list-border-radius: var(--border-radius);
  --board-list-box-border: var(--margin-default) solid #fff;
  --board-list-box-shadow: var(--box-shadow);
  --board-list-margin: var(--margin-default);
  --board-list-tile-background-color: #fff;
  --board-list-tile-name-font: bold 14px/18px var(--theme-font);
  --board-list-tile-name-color: var(--secondary-color);
  --board-list-tile-description-font: 12px/14px var(--theme-font);
  --board-list-tile-description-color: var(--secondary-text-color);
  --board-list-tile-icon-color: var(--opacity-dark-color);
  --board-list-star-color: var(--opacity-dark-color);
  --board-list-star-active-color: var(--primary-color);

  --card-list-template: repeat(3, minmax(auto, 100%));
  --card-list-rows-height: 200px;
  --card-list-background-color: rgba(0, 0, 0, 0.07);
  --card-list-border-radius: var(--border-radius);
  --card-list-flip-transform: rotateX(180deg);
  --card-list-create-border: 1px dashed var(--primary-color);
  --card-list-create-border-radius: var(--border-radius);
  --card-list-create-icon-color: var(--primary-color);
  --card-list-create-color: var(--secondary-color);
  --card-list-create-form-padding: 15px;
  --card-list-create-label-font: var(--label-font);
  --card-list-create-label-color: var(--secondary-color);
  --card-list-create-input-font: var(--input-field-font);
  --card-list-create-input-color: var();
  --card-list-create-input-border: var(--input-field-border);
  --card-list-create-input-border-radius: var(--input-field-border-radius);
  --card-list-create-input-padding: var(--input-field-padding);
  --card-list-create-margin: 0 0 7px 0;
  --popup-content-background-color: var(--main-section-background-color);
  --popup-content-padding: 10px 20px;

  /* board modeler page style */
  --edit-toolbar-background-color: var(--secondary-text-color);
  --edit-toolbar-bigger-icon-size: 45px;
  --edit-toolbar-bigger-icon-line: 1px solid rgba(0, 0, 0, 0.1);
  --component-toolbar-background-color: var(--main-section-background-color);
  --component-toolbar-icon-size: 45px;
  --component-toolbar-border: 1px solid rgba(0, 0, 0, 0.1);
  --component-menu-background-color: #fff;
  --component-menu-border-color: var(--secondary-text-color);
  --component-menu-title: bold 11px/16px var(--theme-font);
  --component-menu-item-color: var(--secondary-color);
  --component-menu-item-hover-color: var(--secondary-text-color);
  --component-menu-item-icon-size: 20px;
  --property-sidebar-background-color: #eceff1;
  --property-sidebar-tab-icon-color: var(--secondary-color);
  --property-sidebar-fieldset-border: 1px solid rgba(0, 0, 0, 0.1);
  --property-sidebar-fieldset-label-color: var(--secondary-color);
  --property-sidebar-fieldset-label: normal 12px/16px var(--theme-font);
  --property-sidebar-fieldset-legend-color: var(--secondary-text-color);
  --property-sidebar-fieldset-legend: bold 11px/16px var(--theme-font);

  /* login page style*/
  --auth-background: var(--main-section-background-color);
  --auth-brand-name: bold 36px/42px var(--theme-font);
  --auth-brand-welcome-msg: normal 16px/24px var(--theme-font);
  --auth-title-color: var(--secondary-color);
  --auth-title-font: bold 28px/36px var(--theme-font);
  --auth-input-font: normal 18px/24px var(--theme-font);
  --auth-input-border: 1px solid var(--opacity-dark-color);
  --auth-input-border-light: 1px solid var(--opacity-light-color);
  --auth-input-color: var(--secondary-color);
  --auth-button-background-color: var(--secondary-color);
  --auth-button-font: normal 18px/20px var(--theme-font);
  --auth-button-padding: 9px 12px 7px 12px;

  /* profile brand style*/
  --profile-brand-width: 150px;
  --profile-brand-height: 45px;
  --profile-brand-padding: 30px auto 20px auto;
  --profile-wrap-max-width: 550px;
  --profile-icon-margin: 7% 0 0 0;
  --change-password-field-font: normal 16px var(--theme-font);
  --change-password-field-border: 1px solid rgba(0, 0, 0, 0.2);
  --change-password-field-border-radius: var(--border-radius);
  --change-password-field-padding: 2px 9px;
  --change-password-field-width: 100%;

  /* setting style */
  --setting-background: var(--main-section-background-color);
  --setting-title-font: var(--subtitle-font);
  --setting-title-color: var(--subtitle-text-color);
  --setting-content-padding: 15px;
  --setting-content-font: normal 1em/1em var(--theme-font);
  --setting-info-content-padding: 10px 15px;
  --setting-info-background-color: #f0f0f0;
  --setting-info-font: normal 14px/14px var(--theme-font);
  --setting-info-color: #666;
  --setting-info-appname-color: var(--primary-color);
  --setting-icon-height: 170px;
  --setting-icon-margin: 7% 0 5px 0;

  /* system info style */
  --system-info-background-color: var(--main-section-background-color);
  --system-info-content-padding: 10vh 0 0 0;
  --system-info-font: normal 14px/24px var(--theme-font);
  --system-info-color: #666;
  --system-info-appname-color: var(--secondary-color);
  --system-info-appname-font: bold 20px/20px var(--theme-font);
  --system-info-description-color: var(--primary-color);
  --system-info-description-font: normal 15px/18px var(--theme-font);
  --system-info-version-background-color: var(--secondary-color);
  --system-info-version-color: #fff;
  --system-info-version-font: normal 15px/15px var(--theme-font);

  /* oops note style */
  --oops-note-icon-font: normal 32px var(--mdc-icon-font, 'Material Icons');
  --oops-note-icon-color: rgba(91, 154, 186, 0.8);
  --oops-note-icon-border: 4px solid rgba(91, 154, 186, 0.4);
  --oops-note-icon-border-radius: 50px;
  --oops-note-icon-padding: 10px;
  --oops-note-title-margin: 12px 0 2px 0;
  --oops-note-title-font: bold 16px var(--theme-font);
  --oops-note-title-color: var(--secondary-color);
  --oops-note-description-font: normal 13px var(--theme-font);
  --oops-note-description-color: var(--primary-color);
}

@media only screen and (max-width: 460px) {
  body {
    --context-toolbar-button: normal 9px var(--theme-font);
    --context-toolbar-button-height: 50px;
    --context-toolbar-iconbutton-size: 30px;
    --context-toolbar-border: none;
    --context-toolbar-border-hover: none;
    --context-toolbar-iconbutton-display: block;
    --context-toolbar-iconbutton-margin: -2px;
    --context-toolbar-button-background-color: transparent;
    --context-toolbar-button-margin: 0;
    --context-toolbar-function-button-height: 50px;
    --context-toolbar-function-button-lineheight: 49px;
    --context-toolbar-function-button-radius: 0;
    --context-toolbar-side-padding: 0;
    --context-toolbar-shadow-line: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.1);

    --overlay-center-small-width: 100%;
    --overlay-center-small-height: 100%;
    --overlay-center-normal-width: 100%;
    --overlay-center-normal-height: 100%;
    --overlay-center-large-width: 100%;
    --overlay-center-large-height: 100%;

    --grist-padding: 0;
    --grist-input-zoom: 1.4;
    --record-view-footer-height: 50px;
    --record-view-footer-button-height: var(--record-view-footer-height);
    --record-view-footer-iconbutton-size: 35px;
    --record-view-footer-iconbutton-margin: -2px;
    --record-view-footer-iconbutton-display: block;

    --label-font: normal 15px var(--theme-font);
    --input-field-font: normal 15px var(--theme-font);

    --profile-wrap-max-width: 85vw;

    --card-list-template: repeat(1, minmax(auto, 100%));
    --card-list-rows-height: 180px;

    --change-password-field-width: 80%;
    --change-password-field-font: normal 20px var(--theme-font);
  }
}
@media (min-width: 461px) and (max-width: 1024px) {
  body {
    --grist-padding: 0;
    --grist-input-zoom: 1.4;
    --record-view-footer-height: 50px;
    --record-view-footer-button-height: var(--record-view-footer-height);
    --record-view-footer-iconbutton-size: 35px;
    --record-view-footer-iconbutton-margin: -2px;
    --record-view-footer-iconbutton-display: block;

    --overlay-center-small-width: 40%;
    --overlay-center-small-height: 40%;
    --overlay-center-normal-width: 60%;
    --overlay-center-normal-height: 60%;
    --overlay-center-large-width: 80%;
    --overlay-center-large-height: 80%;

    --form-margin: 15px 0;
    --form-multi-column-max-width: 100%;
    --form-container-padding: 0 9px;
    --label-font: normal 14px var(--theme-font);
    --input-field-font: normal 15px var(--theme-font);
    --input-field-padding: 3px 5px;

    --card-list-template: repeat(2, minmax(auto, 100%));
    --card-list-rows-height: 150px;
    --card-list-create-form-padding: 7px;

    --change-password-field-width: 70%;
    --change-password-field-font: normal 20px var(--theme-font);
  }
}
@media only screen and (max-width: 925px) {
  body {
    --form-margin: 14px 0;
    --form-multi-column-max-width: 100%;
    --form-container-padding: 0 9px;
    --input-field-padding: 3px 5px;
  }
}
